.flight-deals {
  &-text {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    padding: 8px 24px 0 24px;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 32.74px;
    color: gray;

    @media screen and (max-width: 550px) {
      font-size: 14px;
    }
    @media screen and (max-width: 506px) {
      font-size: 10px;
    }
    @media screen and (max-width: 389px) {
      font-size: 9px;
    }
    @media screen and (max-width: 335px) {
      font-size: 7px;
    }
  }

  &-span {
    color: #605dec;
  }
}
.div-text {
  color: #a1b0cc;
  font-weight: 400;
}
.hotel-deals {
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-column-gap: 2rem;
    padding-left: 24px;

    @media screen and (max-width: 600px) {
      display: grid;
      grid-template-columns: 0;
      grid-template-rows: repeat(3, max-content);
      grid-row-gap: 1rem;
    }
  }

  &-sub-cols {
    display: grid;
    grid-template-rows: repeat(2, max-content);

    &-img {
      width: 25.5rem;
      height: 21.5rem;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;

      @media screen and (max-width: 1382px) {
        width: 23.5rem;
        height: 18.5rem;
      }
    }

    &-desc {
      padding: 16px 24px 16px 24px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      &-subrow-1 {
        display: grid;
        grid-template-columns: 1fr max-content;
        font-weight: 600;
        font-style: normal;
        font-size: 18px;
        line-height: 24.55px;
        color: gray;

        &-highlight {
          color: #605dec;
        }
      }

      &-subrow-2 {
        color: #7c8db0;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 21.82px;
      }
    }
  }

  &-singlepic {
    display: grid;
    grid-template-rows: 1fr max-content;
    padding: 2rem 24px 0 24px;

    &-img {
      height: 28rem;
      width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
}
