.search-tickets-wrapper {
  background-image: url("../../assets/worldmap.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -2rem;
  height: 100vh;
  z-index: 1;
  position: relative;
  // 1 vh  -	19.2 px
  @media screen and (max-width: 805px) {
    height: 135vh;
  }
}

.heading-primary {
  backface-visibility: hidden;
  margin-bottom: 6rem;
  text-align: center;
  z-index: 2;
  position: relative;
  top: 3rem;
  margin: 0 16rem;
  padding: 5rem 0 0 0;

  @media screen and (max-width: 1243px) {
    top: 2rem;
    margin: 0 4rem;
    padding: 4rem 0 0 0;
  }
  @media screen and (max-width: 866px) {
    top: 2rem;
    margin: 0 2rem;
    padding: 2rem 0 0 0;
  }
  @media screen and (max-width: 600px) {
    top: 1rem;
    margin: 0 1rem;
    padding: 3.5rem 0 0 0;
  }
}
.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 800;
  background-image: url("../../assets/textclip.png");
  -webkit-background-clip: text;
  color: transparent;

  @media screen and (max-width: 1243px) {
    font-size: 5rem;
  }
  @media screen and (max-width: 795px) {
    font-size: 4rem;
  }
  @media screen and (max-width: 663px) {
    font-size: 3rem;
  }
  @media screen and (max-width: 517px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 378px) {
    font-size: 1.5rem;
  }
}
.moveup {
  margin-top: -2rem;

  @media screen and (max-width: 663px) {
    margin-top: 0;
  }
}

.search-div {
  margin: 6rem 0 0 0;
  display: grid;
  grid-template-columns: repeat(5, max-content);

  @media screen and (min-width: 805px) {
    align-content: center;
    justify-content: center;
  }
  @media screen and (max-width: 805px) {
    display: grid;
    grid-template-columns: 0;
    grid-template-rows: repeat(5, max-content);
    grid-row-gap: 0.5rem;
    margin: 4rem 14rem 0 14rem;
  }
  @media screen and (max-width: 767px) {
    margin: 4rem 0 0 12rem;
  }
  @media screen and (max-width: 679px) {
    margin: 4rem 0 0 8rem;
  }
  @media screen and (max-width: 545px) {
    margin: 4rem 0 0 3rem;
  }
  @media screen and (max-width: 415px) {
    margin: 4rem 0 0 2rem;
  }
  @media screen and (max-width: 330px) {
    margin: 4rem 0 0 0;
  }
}

.div-incommon {
  border: 1px solid #cbd4e6;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-content: center;
  padding: 8px 12px 8px 12px;
  border-radius: 4px;

  @media screen and (max-width: 901px) {
    width: fit-content;
  }

  &-text {
    color: #7c8db0;
    width: 12rem;
    align-self: center;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24.55px;
    @media screen and (max-width: 1168px) {
      width: 10rem;
    }
    @media screen and (max-width: 1041px) {
      width: 8rem;
    }
    @media screen and (max-width: 901px) {
      width: 6rem;
    }
    @media screen and (max-width: 805px) {
      width: 12rem;
    }
  }
}
.flight-departure {
  margin-top: 0.3rem;
}
.ticket-search-btn {
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
  text-align: center;
  background-color: #605dec;
  color: #fafafa;
  font-weight: 400;
  line-height: 24.55px;
  font-size: 18px;
  margin-left: -1.5rem;

  @media screen and (max-width: 805px) {
    margin-left: 0;
  }
}
