.circle-form-control {
  display: flex;
  justify-content: center;
  align-content: center;
}
.circle-form-control input,
.circle-form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 4rem;
  max-width: 100%;
  margin-left: 0.5rem;

  @media screen and (max-width: 350px) {
    width: 4rem;
  }
}

.circle-form-control input:focus {
  outline: none;
  border-color: #240370;
  background-color: #e0d4fd;
}

.circle-form-control input,
.circle-form-control label {
  display: block;
}

.circle-form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #fff;
  align-self: center;
}

.circle-error-text {
  color: #ec9898;
  text-align: center;
  margin-left: 6rem;
}
