.circles {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: cadetblue;
}
.circles-content {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 2rem 0;
}
