.color-picker-content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
h3 {
  color: rgb(12, 11, 11);
  text-align: center;
}
.color-pickers-input {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 1rem 0;
  color: #0a0a0a;
}
.color-pickers-input input {
  height: 3rem;
  width: 3rem;
}
.color-pickers-label {
  display: flex;
  justify-content: space-around;
  align-content: center;
  color: rgb(22, 19, 19);
}

.start-button-div{
  text-align: center;
  margin: 1rem 0;
}

.circles-content {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 2rem 0;
}